---
---

@import "{{ site.theme }}";

.badges-container {
  background-color: #ffffff;
}

.logos-container {
  background-color: #ffffff;
}

.badges {
  height: 20px;
  width: auto; 
}

.logos {
  height: 40px;
  width: auto; 
}

.contact-icon {
  color: #393939; 
  font-size: 20px;
}
