---
---

@import "{{ site.theme }}";

.badges-container {
  background-color: #ffffff;
}

.logos-container {
  background-color: #ffffff;
}

.badges {
  height: 20px;
  width: auto; 
}

.logos {
  height: 40px;
  width: auto; 
}

.contact-icon {
  color: #267CB9; 
  font-size: 20px;
}

.contact {
  color: #267CB9; 
  font-size: 14px;
}

h1 {
  color:#267CB9;
}

a {
  color:#267CB9;
  text-decoration:none;
  font-size: 12px;
  vertical-align: top;
}

a:hover, a:focus {
  font-size: 12px;
  color:#267CB9;
  font-weight: bold;
  vertical-align: top;
}

ul {
  list-style-type: square; 
}

ul li {
  color: #393939; 
}

ul li::marker {
  color: #267CB9; 
}

ul ul {
  list-style-type: circle; 
}

ul ul li {
  color: #393939; 
}

ul ul li::marker {
  color: #267CB9; 
}

.styled-cell {
  color: #267CB9; 
  text-align: left; 
  vertical-align: top;
}

.image-container {
    display: flex;
    align-items: center; 
    justify-content: right; 
    height: 50px; 
  }

.p_style {
  color: black; 
  font-size: 14px;
  font-style: italic; 
}
