---
---

@import "{{ site.theme }}";

.badges-container {
  background-color: #ffffff;
}

.logos-container {
  background-color: #ffffff;
}

.badges {
  height: 20px;
  width: auto; 
}

.logos {
  height: 40px;
  width: auto; 
}

.linkedin-icon {
  color: #0077B5; /* Azul de LinkedIn */
  font-size: 40px;
}

.envelope-icon {
  color: #0077B5; /* Azul de LinkedIn */
  font-size: 20px;
}
